<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link href='/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/style.css' rel='stylesheet' />

    <title>Banco</title>
  </head>
  <body>
    <div class='container'>
      {{{body}}}
    </div>

    <script src='/bootstrap/js/bootstrap.js'></script>
    <script src='/js/script.js'></script>
  </body>
</html>
