<div class='row mt-4'>
    <img
        src='https://www.adnyfinance.com/wp-content/uploads/2021/12/Can-bank-capital-substitute-for-supervision-and-oversight.jpeg' class='m-auto w-auto logo'
    />
  <div class='text-center'>Banco Digital</>
  <h2 class='text-center'>Iniciar Sesión</h2>
  <div class='col-12 col-md-5 m-auto mt-3'>
    <form method='post' action='/login'>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="https://www.nicepng.com/png/detail/182-1826178_my-business-card-line-comments-visiting-card-icon.png">
            </span>
            <input type="text" class="form-control" placeholder="Ingrese su RUT (sin puntos ni guión)" aria-label="rut" aria-describedby="basic-addon1" name="rut" id="rut" />
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img src="https://www.freeiconspng.com/thumbs/key-icon/black-key-symbol-icon-6.png">
            </span>
            <input type="password" class="form-control" placeholder="Ingrese su clave" aria-label="password" aria-describedby="basic-addon1" name="password" id="password" />
        </div>
      <button type='submit' class='btn btn-light margin-auto shadow px-5'>INGRESAR</button>
      
      <a class="d-block mt-3" href="/register">Registrarme</a>
    </form>
  </div>
</div>
