<div class='row mt-4'>
  <img
    src='https://www.adnyfinance.com/wp-content/uploads/2021/12/Can-bank-capital-substitute-for-supervision-and-oversight.jpeg'
    class='m-auto w-auto logo'
  />
  <div class='text-center'>Banco Digital</div>
  <h2 class='text-center'>Registro</h2>
  <div class='col-12 col-md-5 m-auto mt-3 text-center'>
    <form method='post' action='/register'>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img src='https://cdn-icons-png.flaticon.com/512/25/25634.png' />
        </span>
        <input
          type='text'
          class='form-control'
          placeholder='Ingrese su nombre completo'
          aria-label='name'
          aria-describedby='basic-addon1'
          name='name'
          id='name'
          required
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img src='http://simpleicon.com/wp-content/uploads/mail-5.png' />
        </span>
        <input
          type='email'
          class='form-control'
          placeholder='Ingrese su correo'
          aria-label='rut'
          aria-describedby='basic-addon1'
          name='email'
          id='email'
          required
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img
            src='https://www.nicepng.com/png/detail/182-1826178_my-business-card-line-comments-visiting-card-icon.png'
          />
        </span>
        <input
          type='text'
          class='form-control'
          placeholder='Ingrese su RUT (sin puntos ni guión)'
          aria-label='rut'
          aria-describedby='basic-addon1'
          name='rut'
          id='rut'
          required
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img
            src='https://www.seekpng.com/png/detail/196-1963628_map-marker-address-icon-black-png.png'
          />
        </span>
        <input
          type='text'
          class='form-control'
          placeholder='Ingrese su dirección'
          aria-label='address'
          aria-describedby='basic-addon1'
          name='address'
          id='address'
          required
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img
            src='https://www.freeiconspng.com/thumbs/key-icon/black-key-symbol-icon-6.png'
          />
        </span>
        <input
          type='password'
          class='form-control'
          placeholder='Ingrese su clave'
          aria-label='password'
          aria-describedby='basic-addon1'
          name='password'
          id='password'
          required
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text' id='basic-addon1'>
          <img
            src='https://www.freeiconspng.com/thumbs/key-icon/black-key-symbol-icon-6.png'
          />
        </span>
        <input
          type='password'
          class='form-control'
          placeholder='Confirme su clave'
          aria-label='password2'
          aria-describedby='basic-addon1'
          id='password2'
          required
        />
      </div>
      <button
        type='submit'
        class='btn btn-light margin-auto shadow px-5'
      >REGISTRARME</button>

      <a class='d-block mt-3' href='/'>Ingresar</a>
    </form>
  </div>
</div>
